{% extends '@PovsListerTwig/default_theme.html.twig' %}

{% block list_table %}
    {# @var list \Povs\ListerBundle\View\ListView #}
    {% if list.pager.total > 0 %}
        <div class="row my-3">
            <div class="col-6">
                {{ list_view(list, 'list_util') }}
            </div>
            <div class="col-6 text-right">
                {{ list_view(list, 'list_length_options') }}
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                {{ list_view(list, 'list_header') }}
                {{ list_view(list, 'list_body') }}
            </table>
        </div>

        <div class="row my-3">
            <div class="col-md-6 col-sm-12 mb-2 mb-md-0 text-center text-md-left">
                {{ list_view(list, 'list_pagination') }}
            </div>
            <div class="col-md-6 col-sm-12 text-center text-md-right">
                {{ list_view(list, 'list_information') }}
            </div>
        </div>
    {% else %}
        <div class="my-3">
            {{ 'no_data'|trans({}, 'povs_lister') }}
        </div>
    {% endif %}
{% endblock %}

{% block list_length_options %}
    {# @var list \Povs\ListerBundle\View\ListView #}
    <div class="btn-group" role="group">
        <button id="lister-length" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ list.pager.length }}
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="lister-length">
            {% for length in list_data['length_options'] %}
                {% if length != list.pager.length %}
                    <a class="dropdown-item" href="{{ list.router.lengthRoute(length) }}">{{ length }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block list_util %}
    {# @var list \Povs\ListerBundle\View\ListView #}

    {% for type in list_data['export_types'] %}
        {% if list_data['export_limit'][type] is not defined or list.pager.total >= list_data['export_limit'][type] %}
            <a href="{{ list.router.generate({list_data['type_name']: type}) }}" class="js-povs-lister-ajax-ignore">
                {{ type }}
            </a>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block list_pagination %}
    {# @var list \Povs\ListerBundle\View\ListView #}
    <ul class="pagination justify-content-center justify-content-md-start">
        {% if list.pager.prevPage %}
            <li class="page-item">
                <a class="page-link" href="{{ list.router.pageRoute(list.pager.prevPage) }}" aria-label="{{ 'previous_page'|trans({}, 'povs_lister') }}">
                    {{ 'previous_page'|trans({}, 'povs_lister') }}
                </a>
            </li>
        {% endif %}
        {% for pageData in list.pager.pages %}
            {% if pageData.page %}
                <li class="page-item {% if pageData.active %}active{% endif %}">
                    <a class="page-link" href="{{ list.router.pageRoute(pageData.page) }}">{{ pageData.page }}</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#"> &hellip;</a>
                </li>
            {% endif %}
        {% endfor %}
        {% if list.pager.nextPage %}
            <li class="page-item">
                <a class="page-link" href="{{ list.router.pageRoute(list.pager.nextPage) }}" aria-label="{{ 'next_page'|trans({}, 'povs_lister') }}">
                    {{ 'next_page'|trans({}, 'povs_lister') }}
                </a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block list_filter %}
    {# @var list \Povs\ListerBundle\View\ListView #}
    {% if list_data['form_theme'] %}
        {% form_theme list.filter list_data['form_theme']  %}
    {% endif %}
    {{ form_start(list.filter, {'action': list.router.route}) }}
    {{ form_widget(list.filter) }}
    {{ list_view(list, 'list_filter_list_data', false) }}
    <button class="btn btn-success" type="submit">{{ 'filter_action'|trans({}, 'povs_lister') }}</button>
    <a class="btn btn-light js-povs-lister-ajax-ignore" href="{{ list.router.route }}">{{ 'clear_action'|trans({}, 'povs_lister') }}</a>
    {{ form_end(list.filter) }}
{% endblock %}