{% block list_parent %}
    {# @var list \Povs\ListerBundle\View\ListView #}
    <div {% if list_data['ajax'] %}class="js-povs-lister-ajax"{% endif %}>
        <div>
            {{ list_view(list, 'list_filter') }}
        </div>
        {% if list_data['ajax'] %}
            <div {% if list_data['ajax'] %}class="js-povs-lister-ajax-update"{% endif %}></div>
        {% else %}
            <div>
                {{ list_view(list, 'list_table') }}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block list_table %}
    {# @var list \Povs\ListerBundle\View\ListView #}
    {% if list.pager.total > 0 %}
        <div>
            {{ list_view(list, 'list_util') }}
        </div>
        <div>
            {{ list_view(list, 'list_length_options') }}
        </div>
        <table>
            {{ list_view(list, 'list_header') }}
            {{ list_view(list, 'list_body') }}
        </table>
        <div>
            {{ list_view(list, 'list_pagination') }}
        </div>
        <div>
            {{ list_view(list, 'list_information') }}
        </div>
    {% else %}
        {{ 'no_data'|trans({}, 'povs_lister') }}
    {% endif %}
{% endblock %}

{% block list_header %}
    {# @var list \Povs\ListerBundle\View\ListView #}
    <thead>
        <tr>
            {% for field in list.headerRow.fields %}
                {{ list_view(field, 'list_header_field') }}
            {% endfor %}
        </tr>
    </thead>
{% endblock %}

{% block list_header_field %}
    {# @var list \Povs\ListerBundle\View\FieldView #}
    <th>
        {% if list.sortable %}
            {% set sort = list.sort == constant('Povs\\ListerBundle\\Mapper\\ListField::SORT_DESC')
                ? constant('Povs\\ListerBundle\\Mapper\\ListField::SORT_ASC')
                : constant('Povs\\ListerBundle\\Mapper\\ListField::SORT_DESC')
            %}

            <a href="{{ list.row.list.router.sortRoute(list.id, sort) }}" class="js-povs-lister-ajax-trigger">
                {{ list.value }}
                {% if list.sort == constant('Povs\\ListerBundle\\Mapper\\ListField::SORT_DESC') %}
                    &#9660;
                {% elseif list.sort == constant('Povs\\ListerBundle\\Mapper\\ListField::SORT_ASC') %}
                    &#9650;
                {% endif %}
            </a>
        {% else %}
            {{ list.value }}
        {% endif %}
    </th>
{% endblock %}

{% block list_body %}
    {# @var list \Povs\ListerBundle\View\ListView #}
    <tbody>
        {% for row in list.bodyRows %}
            {{ list_view(row, 'list_body_row') }}
        {% endfor %}
    </tbody>
{% endblock %}

{% block list_body_row %}
    {# @var list \Povs\ListerBundle\View\RowView #}
    <tr>
        {% for field in list.fields %}
            {{ list_view(field, 'list_body_field') }}
        {% endfor %}
    </tr>
{% endblock %}

{% block list_body_field %}
    {# @var list \Povs\ListerBundle\View\FieldView #}
    <td>
        {{ list.value|raw }}
    </td>
{% endblock %}

{% block list_util %}
    {# @var list \Povs\ListerBundle\View\ListView #}
    {% if list_data['allow_export'] %}
        {% for type in list_data['export_types'] %}
            {% if list_data['export_limit'][type] is not defined or list.pager.total <= list_data['export_limit'][type] %}
                <a href="{{ list.router.generate({(list_data['type_name']): type}) }}" download>
                    {{ ('export_type.'~type)|trans([], 'povs_lister') }}
                </a>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block list_length_options %}
    {# @var list \Povs\ListerBundle\View\ListView #}
    {% for length in list_data['length_options'] %}
        <a href="{{ list.router.lengthRoute(length) }}" class="js-povs-lister-ajax-trigger">
            {{ length }}
        </a>
    {% endfor %}
{% endblock %}

{% block list_filter %}
    {# @var list \Povs\ListerBundle\View\ListView #}
    {% if list_data['form_theme'] %}
        {% form_theme list.filter list_data['form_theme']  %}
    {% endif %}
    {{ form_start(list.filter, {'action': list.router.route}) }}
    {{ form_widget(list.filter) }}
    {{ list_view(list, 'list_filter_list_data', false) }}
    <button type="submit">{{ 'filter_action'|trans({}, 'povs_lister') }}</button>
    <a href="{{ list.router.route }}">{{ 'clear_action'|trans({}, 'povs_lister') }}</a>
    {{ form_end(list.filter) }}
{% endblock %}

{% block list_filter_list_data %}
    {# @var list \Povs\ListerBundle\View\ListView #}
    <div {% if list_data['ajax'] %}class="js-povs-lister-ajax-list-data" data-fields="{{ list.router.requestName('length') }},{{ list.router.requestName('sort') }}"{% endif %}>
        <input type="hidden" name="{{ list.router.requestName('length') }}" value="{{ list.pager.length }}">
        {% for fieldView in list.fieldViews %}
            {% if fieldView.sortable and fieldView.sort %}
                <input type="hidden"
                       name="{{ list.router.requestName('sort') }}[{{ fieldView.id }}]"
                       value="{{ fieldView.sort }}"
                >
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block list_pagination %}
    {# @var list \Povs\ListerBundle\View\ListView #}
    {% if list.pager.prevPage %}
        <a href="{{ list.router.pageRoute(list.pager.prevPage) }}" class="js-povs-lister-ajax-trigger">{{ 'previous_page'|trans({}, 'povs_lister') }}</a>
    {% endif %}

    {% for pageData in list.pager.pages %}
        {% if pageData.page %}
            <a href="{{ list.router.pageRoute(pageData.page) }}" class="js-povs-lister-ajax-trigger{% if pageData.active %} active{% endif %}">
                {{ pageData.page }}
            </a>
        {% else %}
            &hellip;
        {% endif %}
    {% endfor %}

    {% if list.pager.nextPage %}
        <a href="{{ list.router.pageRoute(list.pager.nextPage) }}" class="js-povs-lister-ajax-trigger">{{ 'next_page'|trans({}, 'povs_lister') }}</a>
    {% endif %}
{% endblock %}

{% block list_information %}
    {# @var list \Povs\ListerBundle\View\ListView #}
    {{ 'information'|trans({
        '%from%': list.pager.firstResult,
        '%to%': list.pager.lastResult,
        '%total%': list.pager.total
    }, 'povs_lister') }}
{% endblock %}